
body {
    overflow: hidden; /* Hide scrollbars */
  }
*{
    margin: 0px;
}
div {
    size: 100px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    height: 140px;
    width: 300px;
    
}
html{
    background-color: black;
}